:root {
  --clr-background: hsl(185, 75%, 39%);
  --clr-footer-line: rgb(150, 150, 150);
  --clr-text: hsl(227, 10%, 46%);
  --clr-text-accent: hsl(229, 23%, 23%);
}

body {
  background-color: var(--clr-background);
}

.bg-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: url(../images/bg-pattern-top.svg) -750px -600px no-repeat, url(../images/bg-pattern-bottom.svg) 150px 270px no-repeat;
}

.content-section {
  margin: 146px 0;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 325px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 1px 20px 40px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: var(--clr-text);
  text-align: center;
  background-color: #fff;
}

.card__header {
  height: 140px;
  background-image: url(../images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card__content {
  position: relative;
  padding: 75px 0 24px;
}

.card__avatar {
  position: absolute;
  top: -45px;
  left: calc(50% - 48px);
  width: 96px;
  border-radius: 50%;
  outline: 7px solid #fff;
}

.card__content-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.card__content-name {
  color: var(--clr-text-accent);
  font-weight: 700;
  font-size: 18px;
}

.card__content-age {
  font-size: 18px;
}

.card__content-location {
  width: 100%;
  font-size: 14px;
}

.card__footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid rgba(150, 150, 150, 0.5);
  padding: 24px 25px 28px;
}

.card__footer-stats {
  justify-self: center;
  color: var(--clr-text-accent);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
}

.bottom-text {
  display: block;
  color: var(--clr-text);
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: none;
}

@media screen and (min-width: 400px) {
  .content-section {
    margin: 172px 0;
  }

  .card {
    max-width: 350px;
  }

  .bg-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: url(../images/bg-pattern-top.svg) -290px -500px no-repeat, url(../images/bg-pattern-bottom.svg) 700px 370px no-repeat;
  }
}
